.backgroundContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-2);
    overflow: hidden;
}

.title {
    animation: slideLeft 20s linear infinite;
}

.letter {
    font-size: 50rem;
    color: white;
    font-family: "Prisma";
}

@keyframes slideLeft {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
    }
}